<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @farm.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @farm.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @farm.address %>
</p>

<p>
  <strong><%= link_to "Plots:", farm_plots_path(@farm), target: :_blank %></strong>
  <ul>
    <% @farm.plots.each do |plot| %>
      <li><%= link_to "#{plot.identifier}", [@farm, plot], target: :_blank %></li>
    <% end %>  
  </ul>
</p>

<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'Back', farms_path %>
