
<p>
  <strong>Nombre:</strong>
  <%= @farm.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @farm.description %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @farm.address %>
</p>

<p>
  <strong><%= link_to "Lotes:", farm_plots_path(@farm), target: :_blank %></strong>
  <ul>
    <% @farm.plots.each do |plot| %>
      <li><%= link_to "#{plot.identifier}", [@farm, plot], target: :_blank %></li>
    <% end %>  
  </ul>
</p>

<p>
  <strong>Usuarios asociados:</strong>
  <ul>
    <% User.with_role(:owner, @farm).each do |user| %>
      <li><%= user.email %>, owner, 
      <% if user_is_owner? @farm %>
        <%= link_to 'Remover', farm_destroy_user_path(@farm, user: {role: 'owner', user_id: user.id}), method: :post %>
      <% end %>  
      </li>
    <% end %>
    <% User.with_role(:viewer, @farm).each do |user| %>
      <li><%= user.email %>, viewer, 
      <% if user_is_owner? @farm %>
        <%= link_to 'Remover', farm_destroy_user_path(@farm, user: {role: 'viewer', user_id: user.id}), method: :post %></li>
      <% end %>  
    <% end %>
  </ul>
</p>

<% if user_is_owner? @farm %>
  <p><%= link_to 'Agregar usuario', farm_new_user_path(@farm) %></p>
<% end %>

<div class="pull-right">
  <% if user_is_owner? @farm %>
    <%= link_to 'Editar', edit_farm_path(@farm), class: "btn btn-success" %>
  <% end %>
  <%= link_to 'Atrás', farms_path, class: "btn btn-default" %>
</div>