<%= form_with(model: [farm, plot], local: true) do |form| %>
  <% if plot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plot.errors.count, "error") %> prohibited this plot from being saved:</h2>

      <ul>
      <% plot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :identifier %>
    <%= form.text_field :identifier %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :surface %>
    <%= form.text_field :surface %>
  </div>

  <div class="field">
    <%= form.label :greenhouse %>
    <%= form.check_box :greenhouse %>
  </div>

  <div class="field">
  <%= form.label :farm %>
  <%= form.select(:farm_id, farms_for_select, :prompt => 'Select') %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
