<h3>Lotes</h3>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Superficie</th>
      <th>Invernadero</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @plots.each do |plot| %>
      <tr>
        <td><%= plot.identifier %></td>
        <td><%= plot.description %></td>
        <td><%= plot.surface %></td>
        <td><%= plot.greenhouse %></td>
        <td>
          <%= link_to '', [@farm, plot], class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Ver' %>
          <%= link_to '', edit_farm_plot_path(@farm, plot), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Editar' %>
          <%= link_to '', [@farm, plot], class:'glyphicon glyphicon-trash btn btn-xs btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="pull-right">
  <div class="btn-right">
    <%= link_to 'Nuevo', new_farm_plot_path(@farm), class: "btn btn-success" %>
  </div>
</div>