
<p>
  <strong>Nombre:</strong>
  <%= @plot.identifier %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @plot.description %>
</p>

<p>
  <strong>Superficie:</strong>
  <%= @plot.surface %>
</p>

<p>
  <strong>Invernadero:</strong>
  <%= @plot.greenhouse %>
</p>

<p>
  <strong><%= link_to "Plantaciones:", farm_plot_plantations_path(@farm, @plot), target: :_blank %></strong>
  <ul>
    <% @plot.plantations.each do |plantation| %>
      <li><%= link_to "#{plantation.id}", [@farm, @plot, plantation], target: :_blank %></li>
    <% end %>  
  </ul>
</p>

<p>
  <strong><%= link_to "Problemas:", farm_plot_problems_path(@farm, @plot), target: :_blank %></strong>
  <ul>
    <% @plot.problems.each do |problem| %>
      <li><%= link_to "#{problem.id}", [@farm, @plot, problem], target: :_blank %></li>
    <% end %>  
  </ul>
</p>

<p>
  <strong><%= link_to "Aplicaciones:", farm_plot_product_applications_path(@farm, @plot), target: :_blank %></strong>
  <ul>
    <% @plot.product_applications.each do |application| %>
      <li><%= link_to "#{application.id}", [@farm, @plot, application], target: :_blank %></li>
    <% end %>  
  </ul>
</p>

<p>
  <strong><%= link_to "Cosechas:", farm_plot_crops_path(@farm, @plot), target: :_blank %></strong>
  <ul>
    <% @plot.crops.each do |crop| %>
      <li><%= link_to "#{crop.id}", [@farm, @plot, crop], target: :_blank %></li>
    <% end %>  
  </ul>
</p>

<div class="pull-right">
  <%= link_to 'Editar', edit_farm_plot_path(@farm, @plot), class: "btn btn-success" %>
  <%= link_to 'Atrás', farm_plots_path, class: "btn btn-default" %>
</div>