<%= form_with(model: problem, local: true) do |form| %>
  <% if problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.label :type_problem_id %>
    <%= form.select(:type_problem_id, type_problems_for_select, :prompt => 'Select') %>
  </div>

  <div class="field">
    <%= form.label :plot_id %>
    <%= form.select(:plot_id, plots_for_select, :prompt => 'Select') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
