
<h3>Problemas</h3>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Tipo de problema</th>
      <th>Lote</th>
      <th>Otros</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
      <td>
      <% if problem.type_problem %>
      <%= problem.type_problem.name %>
      <% else %>
      -
      <% end %>
      </td>
      <td><%= problem.plot.identifier %></td>
      <td>
        <% if problem.other %>
          <%= problem.other.name %>
        <% else %>
          -
        <% end %>
      </td>
        <td>
          <%= link_to '', [@farm, @plot, problem], class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Ver' %>
          <%= link_to '', edit_farm_plot_problem_path(@farm, @plot, problem), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Editar' %>
          <%#= link_to '', [@farm, @plot, problem], class:'glyphicon glyphicon-trash btn btn-xs btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="pull-right">
  <div class="btn-right">
    <%= link_to 'Nuevo', new_farm_plot_problem_path, class: "btn btn-success" %>
  </div>
</div>