
<p>
  <strong>Comentario:</strong>
  <%= @problem.comment %>
</p>

<p>
  <strong>Tipo de problema:</strong>
  <% if @problem.type_problem %>
    <%= @problem.type_problem.name %>
  <% else %>
    -
  <% end %>
</p>

<p>
  <strong>Otros:</strong>
  <% if @problem.other %>
    <%= @problem.other.name %>
  <% else %>
    -
  <% end %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @problem.plot.identifier %>
</p>

<p>
  <strong>Fecha creación:</strong>
  <%= @problem.created_at.strftime("%d-%m-%Y %H:%M:%S") %>
</p>

<p>
  <strong>Usuario que creó registro:</strong>
  <%= User.find(@problem.user_id).email %>
</p>

<div class="pull-right">
  <%= link_to 'Editar', edit_farm_plot_problem_path(@farm, @plot, @problem), class: "btn btn-success" %>
  <%= link_to 'Atrás', farm_plot_problems_path, class: "btn btn-default" %>
</div>