
<p>
  <strong>Comment:</strong>
  <%= @problem.comment %>
</p>

<p>
  <strong>Type problem:</strong>
  <%= @problem.type_problem.name %>
</p>

<p>
  <strong>Plot:</strong>
  <%= @problem.plot.identifier %>
</p>

<%= link_to 'Edit', edit_farm_plot_problem_path(@farm, @plot, @problem) %> |
<%= link_to 'Back', farm_plot_problems_path %>
