
<p>
  <strong>Comentario:</strong>
  <%= @problem.comment %>
</p>

<p>
  <strong>Tipo de problema:</strong>
  <%= @problem.type_problem.name %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @problem.plot.identifier %>
</p>

<div class="pull-right">
  <%= link_to 'Editar', edit_farm_plot_problem_path(@farm, @plot, @problem), class: "btn btn-success" %>
  <%= link_to 'Atrás', farm_plot_problems_path, class: "btn btn-default" %>
</div>