
<p>
  <strong>Nombre:</strong>
  <%= @variety.name %>
</p>

<p>
  <strong>Nombre científico:</strong>
  <%= @variety.scientific_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @variety.url %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @variety.description %>
</p>

<div class="pull-right">
  <%= link_to 'Editar', edit_variety_path(@variety), class: "btn btn-success" %>
  <%= link_to 'Atrás', varieties_path, class: "btn btn-default" %>
</div>