<h3>Tipos de problemas</h3>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nombre científico</th>
      <th>Url</th>
      <th>Descripción</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @type_problems.each do |type_problem| %>
      <tr>
        <td><%= type_problem.name %></td>
        <td><%= type_problem.scientific_name %></td>
        <td><%= type_problem.url %></td>
        <td><%= type_problem.description %></td>
        <td>
          <%= link_to '', type_problem, class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Ver' %>
          <%= link_to '', edit_type_problem_path(type_problem), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Editar' %>
          <%#= link_to '', type_problem, class:'glyphicon glyphicon-trash btn btn-xs btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="pull-right">
  <div class="btn-right">
    <%= link_to 'Nuevo', new_type_problem_path, class: "btn btn-success" %>
  </div>
</div>
