
<p>
  <strong>Nombre:</strong>
  <%= @type_problem.name %>
</p>

<p>
  <strong>Nombre científico:</strong>
  <%= @type_problem.scientific_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @type_problem.url %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @type_problem.description %>
</p>

<div class="pull-right">
  <%= link_to 'Editar', edit_type_problem_path(@type_problem), class: "btn btn-success" %>
  <%= link_to 'Atrás', type_problems_path, class: "btn btn-default" %>
</div>