
<p>
  <strong>Comentario:</strong>
  <%= @plantation.comment %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @plantation.amount %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @plantation.plot.identifier %>
</p>

<p>
  <strong>Especie:</strong>
  <%= @plantation.species.name %>
</p>

<div class="pull-right">
  <%= link_to 'Editar', edit_farm_plot_plantation_path(@farm, @plot, @plantation), class: "btn btn-success" %>
  <%= link_to 'Atrás', farm_plot_plantations_path, class: "btn btn-default" %>
</div>