
<h3>Aplicaciones de productos</h3>

<table class="table">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Lote</th>
      <th>Producto</th>
      <th>Otros</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @product_applications.each do |product_application| %>
      <tr>
        <td><%= product_application.amount %></td>
        <td><%= product_application.plot.identifier %></td>
        <td>
          <% if product_application.product %>
            <%= product_application.product.name %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <% if product_application.other %>
            <%= product_application.other.name %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <%= link_to '', [@farm, @plot, product_application], class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Ver' %>
          <%= link_to '', edit_farm_plot_product_application_path(@farm, @plot, product_application), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Editar' %>
          <%#= link_to '', [@farm, @plot, product_application], class:'glyphicon glyphicon-trash btn btn-xs btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="pull-right">
  <div class="btn-right">
    <%= link_to 'Nuevo', new_farm_plot_product_application_path, class: "btn btn-success" %>
  </div>
</div>