<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @product_application.comment %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @product_application.amount %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_application.product.name %>
</p>

<p>
  <strong>Plot:</strong>
  <%= @product_application.plot.identifier %>
</p>

<%= link_to 'Edit', edit_farm_plot_product_application_path(@farm, @plot, @product_application) %> |
<%= link_to 'Back', farm_plot_product_applications_path %>
