
<p>
  <strong>Comentario:</strong>
  <%= @crop.comment %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @crop.amount %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @crop.plot.identifier %>
</p>

<p>
  <strong>Variedad:</strong>
  <%= @crop.variety.name %>
</p>

<div class="pull-right">
  <%= link_to 'Editar', edit_farm_plot_crop_path(@farm, @plot, @crop), class: "btn btn-success" %>
  <%= link_to 'Atrás', farm_plot_crops_path, class: "btn btn-default" %>
</div>