
<p>
  <strong>Título:</strong>
  <%= @novelty.title %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @novelty.body %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @novelty.user.email %>
</p>

<% if @novelty.product %>
  <p>
    <strong>Productos:</strong>
    <%= @novelty.product.name %>
  </p>
<% end %>

<% if @novelty.variety %>
  <p>
    <strong>Variedad:</strong>
    <%= @novelty.variety.name %>
  </p>
<% end %>

<% if @novelty.type_problem %>
  <p>
    <strong>Problema:</strong>
    <%= @novelty.type_problem.name %>
  </p>
<% end %>

<div class="pull-right">
  <%= link_to 'Editar', edit_novelty_path(@novelty), class: "btn btn-success" %>
  <%= link_to 'Atrás', novelties_path, class: "btn btn-default" %>
</div>
