
<p>
  <strong>Título:</strong>
  <%= @novelty.title %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @novelty.body %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @novelty.user.email %>
</p>

<p>
  <strong>Productores:</strong>
  <ul>
    <% @novelty.producers.each do |producer| %>
      <li><%= producer.email %></li>
    <% end %>  
  </ul>
</p>

<div class="pull-right">
  <%= link_to 'Editar', edit_novelty_path(@novelty), class: "btn btn-success" %>
  <%= link_to 'Atrás', novelties_path, class: "btn btn-default" %>
</div>
