
<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Composición:</strong>
  <%= @product.composition %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<div class="pull-right">
  <%= link_to 'Editar', edit_product_path(@product), class: "btn btn-success" %>
  <%= link_to 'Atrás', products_path, class: "btn btn-default" %>
</div>