<!DOCTYPE html>
<html>
  <head>
    <title>Farmomatic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "Farms", farms_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Novelties editor", novelties_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Novelties producer", novelties_producers_path, :class => "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sesión</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <% if current_user %>
              <a class="dropdown-item" href="#">Editar perfil</a>
              <a><%= link_to 'Logout', destroy_user_session_path, :class => "dropdown-item" %></a>
            <% else %>
              <a><%= link_to 'Login', new_user_session_path, :class => "dropdown-item" %></a>
              <a><%= link_to 'Sign up', new_user_registration_path, :class => "dropdown-item"  %></a>
            <% end %>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <body>
    <div class="container col-md-8 col-md-offset-2">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
