<!DOCTYPE html>
<html>
  <head>
    <title>Farmomatic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Inicio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li>
            <%= link_to "Granjas", farms_path, :class => "nav-link" %>
          </li>
          <% if current_user.has_role? :owner, :any %>
            <li class="nav-item">
              <%= link_to "Novedades", novelties_producers_path, :class => "nav-link" %>
            </li>
          <% end %>
          <% if current_user.has_role? :expert %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menú experto<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <%= link_to "Novedades", novelties_path, :class => "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Especies", species_index_path, :class => "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Tipos problemas", type_problems_path, :class => "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Productos", products_path, :class => "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Variedades", varieties_path, :class => "nav-link" %>
                </li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= edit_user_registration_path %>">Editar perfil</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Cerrar sesión', destroy_user_session_path, :class => "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li><a href="#">Iniciar sesión</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <body>
    <div class="container col-md-8 col-md-offset-2">
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>

  <script>
    $('.dropdown-toggle').dropdown()
  </script>

</html>
